@use "../../scss/mixins" as mix;

.main__animals::before {
  background-size: 270%;
  background-position: -30% 40%;
  position: absolute;
}

.main__animals {
  .animal {
    margin-bottom: 10px;
  }

  @include mix.desktop {
    width: 100vw;

    .animal {
      &:hover {
        width: 103%;
        margin-left: -2%;
        border: 1px solid black;
      }
    }
  }
}

.animal-grid {
  display: flex;
  width: auto;
  margin: 60px;
}

.animal-grid-column {
  background-clip: padding-box;
  margin: 10px;
}
