@use "../../scss/mixins" as mix;

.main {
  &__animals {
    padding-top: 10%;
    display: flex;
    flex-direction: column;
    gap: 40px;

    @include mix.desktop {
      flex-direction: column;
      height: 1600px;
      min-width: 100vw;
      max-width: 1350px;
      justify-content: flex-start;
      align-items: center;
      column-gap: 0;
      padding-top: 7%;
    }

    .animal {
      &:hover {
        width: 103%;
        background-color: rgb(255, 251, 180);
        margin-left: -2%;
      }
    }
  }
}

.link-to-animal {
  @include mix.desktop {
    width: 20%;
    text-decoration: none;
  }
}
