@use "../../scss/mixins" as mix;
@use "../../scss/variables" as var;

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: var.$color-secondary;
}

.content {
  min-height: 100vh;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 0.9rem;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: rgba(79, 223, 65, 0.546);
  border: 1px solid black;

  &:hover {
    background-color: rgba(78, 223, 65, 0.271);
  }
}

button:disabled {
  background-color: rgba(235, 235, 235, 0.755);
  border: none;

  &:hover {
    background-color: rgba(235, 235, 235, 0.755);
  }
}

// button:focus,
// button:focus-visible {
//   outline: 4px auto -webkit-focus-ring-color;
// }

a {
  text-decoration: none;
}
