@use "../../scss/variables" as var;

footer {
  width: 100vw;
  height: 8vh;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: var.$color-primary;
  color: white;
  display: flex;
  align-items: center;
  display: grid;
  grid-template-columns: 20% 60% 20%;
}
